<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <title th:if="${pageTitle}" th:text="${pageTitle}"></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="../../public/img/favicon.ico" th:href="@{/img/favicon.ico}" />
    <script src="../../static/scripts/jquery-3.1.0.min.js"
            th:src="@{/scripts/jquery-3.1.0.min.js}"></script>
    <script src="../../static/scripts/blog-scripts.js" th:src="@{/scripts/blog-scripts.js}"></script>


    <script type="text/javascript">
        function Slider() {
            $(".slider#1").show("fade", 500);
            $(".slider#1").delay(5000).hide("slide", {direction: 'left'}, 500);

            var sc = $(".slider img").size();
            var count = 2;

            setInterval(function () {
                $(".slider#" + count).show("slide", {direction: 'right'}, 500);
                $(".slider#" + count).delay(5000).hide("slide", {direction: 'left'}, 500);

                if (count == sc) {
                    count = 1;
                }
                else {
                    count = count + 1;
                }
            }, 6500);
        }
    </script>
</head>
