<aside th:fragment="sidebar">
    <div class="col-sm-4 pull-right">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h2 class="panel-title">Recent Posts</h2>
            </div>
            <div class="panel-body bg-gray text-center">
                <p href="#" th:each="p : ${latest5posts}" th:text="${p.title}"
                   th:href="@{/posts/view/{id}/(id=${p.id})}">Work Begins on HTML5.1</p>
                <p href="#" class="btn-success" role="button">See More</p>
            </div>
        </div>
    </div>
</aside>