body>header {
    background: transparent;
    padding: 5px;
}

body>header>a>img, body>header a  {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
    font-size: 1.2em;
}

body>aside {
    float: right;
    width: 200px;
    background: #cccccc;
    padding: 15px;
    margin-left: 20px;
    margin-top: 10px;
}

body>aside h2 {
    margin: 5px 0px 15px 0px;
}

body>aside a {
    display: block;
    margin: 5px 0px;
    text-decoration: none;
}

body {
    background: radial-gradient(#104e8b, #8c8c8c, #104e8b);
}

html, main, body {
    height:100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -100px;
}

.push {
    height:100px;
}

body>main:after {
    content: '';
    display: block;
    clear: both;
}

body>footer {
    height: 100px;
    background: #101010;
    text-align: center;
}

#logged-in-info {
    float: right;
    margin-top: 18px;
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}

ul#messages li {
    display: block;
    width: 80%;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

ul#messages li.info {
    background: #7f7;
}

ul#messages li.error {
    background: #d00;
    color: white;
}

.formError {
    color: red;
    font-size: 0.9em;
    font-style: italic;
}

.bg-gray{
    background-color: #f9f9f9;
}

p, a, h5{
    color: #ffffff !important;
}

h1, h2, h3, h4, h6 {
    color: #000 !important;
}


.well {
    background-image: url('earth.jpg') !important;
    border: 4px solid #262626;
}

.btn{
    text-align: center;
    padding: 20px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    background: #104e8b !important;
    border-radius: 40% !important;
    color: #ffffff !important;
    font-size: 25px;
    border:4px solid #101010 !important;
}

.btn:hover {
    background-color: #8b2323 !important;
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

.btn:active {
    box-shadow: 0 5px #101010;
    transform: translateY(4px);
}
.btn-success:active, .btn-success:hover  {
    background-color: #6e8b3d !important;
}

.btn-primary:active, .btn-primary:hover {
    background-color: #46b8da !important;
}
.btn-default:active, .btn-default:hover {
    background-color: #9d9d9d !important;
}
.btn-info:active, .btn-info:hover {
    background-color: darkblue !important;
}
.btn-warning:active, .btn-warning:hover {
    background-color: goldenrod !important;
}

.btn-danger:active, .btn-danger:hover {
    background-color: #761c19 !important;
}
.panel-body{
    background: linear-gradient(#104e8b, #8c8c8c);
    border: 4px solid;
}

.panel-heading{
    background: #101010 !important;
}
.panel-title{
    color: #ccc;
}
.dropdown-menu{
    background: linear-gradient(#104e8b, #8c8c8c) !important;
}
