body>header {
    background: transparent;
    padding: 5px;
}

body>header>a>img, body>header a  {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    font-size: 1.2em;
}

body>aside {
    float: right;
    width: 200px;
    background: #cccccc;
    padding: 15px;
    margin-left: 20px;
    margin-top: 10px;
}

body>aside h2 {
    margin: 5px 0 15px 0;
}

body>aside a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
}

body {
    background: -webkit-linear-gradient(left, #333, #104e8b 5%, #8c8c8c, #104e8b 95%, #333);
}

html, main, body {
    height:100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -60px;
}

.push {
    height:60px;
}

body>main:after {
    content: '';
    display: block;
    clear: both;
}

body>footer {
    height: 60px;
    background: #101010;
    text-align: center;
}

.modal-footer{
    border-top: #101010;
}

#logged-in-info {
    float: right;
    margin-top: 18px;
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}

ul#messages li {
    display: block;
    width: 80%;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 25px;
    font-style: oblique;
}

ul#messages li.info {
    color: black;
    background: -webkit-linear-gradient(left, #696969, white 5%, #696969, white 95%, #696969);
    border: 4px solid black;
}

ul#messages li.error {
    background: -webkit-linear-gradient(left, #d00, white 5%, #d00, white 95%, #d00);
    color: black;
    border: 4px solid black;
}

.formError {
    color: red;
    font-size: 0.9em;
    font-style: italic;
}

.alert {
    background: -webkit-linear-gradient(left, #d00, white 5%, #d00, white 95%, #d00);
    color: black;
    border: 4px solid black;
}
.bg-gray{
    background-color: #f9f9f9;
}

p, a, h5{
    color: #ffffff !important;
}

h1, h2, h3, h4, h6 {
    color: #000 !important;
}


.well {
    background-image: url('/img/earth.jpg') !important;
    border:solid black 4px !important;
}

.btn{
    display: inline-block;
    width: 130px;
    text-align: center ;
    transition: all 0.5s ;
    cursor: pointer;
    background: -webkit-linear-gradient(left, #104e8b, lightgrey,#104e8b);
    border-radius: 40%;
    color: black !important;
    font-size: 17px;
    border:2px solid #111 !important;
    box-shadow: 0 9px #555;
    margin-bottom: 15px;
}

.btn:hover {
    padding-right: 25px;
    color: black !important;
}


.btn:active {
    box-shadow: 0 5px #555;
    transform: translateY(4px);
}
.btn-success:active, .btn-success:hover  {
    background: -webkit-linear-gradient(left, #6e8b3d, lightgrey,#6e8b3d) !important;
}

.btn-primary:active, .btn-primary:hover {
    background: -webkit-linear-gradient(left, #46b8da, lightgrey,#46b8da) !important;
}
.btn-default:active, .btn-default:hover {
    background: -webkit-linear-gradient(left, #708090, lightgrey,#708090) !important;
}
.btn-info:active, .btn-info:hover {
    background: -webkit-linear-gradient(left, darkblue, lightgrey,darkblue) !important;
}
.btn-warning:active, .btn-warning:hover {
    background: -webkit-linear-gradient(left, goldenrod, lightgrey,goldenrod) !important;
}

.btn-danger:active, .btn-danger:hover {
    background: -webkit-linear-gradient(left, #761c19, lightgrey,#761c19) !important;
}
.panel-body{
    background: linear-gradient(#104e8b, #8c8c8c);
    border: 8px solid #121212;
}

.panel{
    border: 4px #101010 !important;
    margin-right: 70px;
    margin-top: 30px;
}
.panel-heading{
    background: #101010 !important;
    border: 4px #101010 !important;
    font-size: 20px;
}
.panel-title{
    color: #ccc;
}
.dropdown-menu{
    background: linear-gradient(#104e8b, #8c8c8c) !important;
}

.slider {
    width: 800px;
    height: 350px;
    overflow: hidden;
    margin: 30px auto;
}

.slider img {
    width: 800px;
    height: 350px;
    display: none;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background: -webkit-linear-gradient(left, #696969, white 5%, #696969, white 95%, #696969);
    border: 2px solid black;
    color: black !important;
    font-size: 20px;
}

.row {
    margin-left: -16px;
    margin-right: -16px;
}
