<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<title>thenewboston</title>-->
    <!--<meta charset="utf-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;Navbar&ndash;&gt;-->
<!--<header>-->
    <!--<nav class="navbar navbar-inverse">-->
        <!--<div class="container-fluid">-->

            <!--&lt;!&ndash;Logo&ndash;&gt;-->
            <!--<div class="navbar-header">-->
                <!--<a href="#" class="navbar-brand">MASTERMINDS TRAVEL GUIDE</a>-->
                <!--&lt;!&ndash;Collapse Menu Button&ndash;&gt;-->
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
            <!--</div>-->

            <!--&lt;!&ndash;Menu Items&ndash;&gt;-->
            <!--<div class="collapse navbar-collapse" id="mainNavBar">-->
                <!--&lt;!&ndash;Left Alignment&ndash;&gt;-->
                <!--<ul class="nav navbar-nav">-->
                    <!--<li><a href="#">Home</a></li>-->
                    <!--<li><a href="#">Login</a></li>-->
                    <!--<li><a href="#">Register</a></li>-->

                    <!--&lt;!&ndash;Drop Down Menu&ndash;&gt;-->
                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Profile<span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="#">Button1</a></li>-->
                            <!--<li><a href="#">Button2</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->

                <!--</ul>-->

                <!--&lt;!&ndash;Right Alignment&ndash;&gt;-->
                <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li><a href="#">Logout</a></li>-->
                <!--</ul>-->

            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->
<!--</header>-->

<!--<main>-->

<!--</main>-->

<!--<footer>-->

<!--</footer>-->

<!--</body>-->
<!--</html>-->